.app {
  text-align: center;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 50px;
  width: 30%;
  padding: 50px 0px;
}

.contents {
  text-align: left;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  padding-left: 120px;
}

button {
  padding: 15px 30px;
  background-color: rosybrown;
  border: 0px;
  margin-right: 20px;
  color: white;
}
button:first-child {
  background-color: rgb(16, 109, 172);
  color: white;
}

button:last-child {
  background-color: rgb(189, 49, 49);
  color: white;
}

button:hover {
  opacity: 0.8;
}


@media (max-width: 1100px){
  .app {
    width: 100%;
    margin-top: 0px;
  }
  .contents {
    text-align: left;
    margin-top: 50px;
    padding-left: 50px;
  }
  
}
